@import './mixins.scss';
.container4{
    display: flex;
    flex-flow: row nowrap;

    width: 100%;
    margin: 0;
    padding: 0;

    img{
        width:25%;
        height: 33em;
        object-fit: cover;
    }
    @include breakpoint-down(medium){
        flex-flow: row wrap;
        img{
            width: 50%;
        }
    }

    @include breakpoint-down(small){
        flex-flow: column nowrap;
        img{
            width: 100%;
            height: 20em;
        }
    }
}