@import './mixins.scss';

.section3_container{
    display: flex;
    flex-flow: row nowrap;
    height: 33em;

    .context{
        width: 40%;
        color: #000000;
        background-color: #fff;
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        h1{
           padding: 1em;
           font-size: 1.5em;
        }
        p{
            padding: 0 4em;
        }
    }

    .image{
        width: 60%;
        height: 33em;
        object-fit: cover;
        background-color: #ffffff;
    }

    @include breakpoint-down(medium){
        .image{
            width: 40%;
        }
        
        .context{
            width: 60%;
        }
    }

    @include breakpoint-down(small){
        @include breakpoint-small
    }
}